/datasets/climbing_videos/mp4/2019_andyliu84/
/datasets/climbing_videos/mp4/2019_shortuglybeta/
/datasets/climbing_videos/mp4/2024_andyliu84/
/datasets/climbing_videos/mp4/2024_shortuglybeta/
/datasets/climbing_videos/hdf5/2019_andyliu84/
/datasets/climbing_videos/hdf5/2019_shortuglybeta/
/datasets/climbing_videos/hdf5/2024_andyliu84/
/datasets/climbing_videos/hdf5/2024_shortuglybeta/
/src/datascraper/test.py
/src/datascraper/process_videos.sh